<a href="https://colab.research.google.com/github/MatheusRitchielle/fundamentos-python/blob/main/Estrutura_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lista

In [ ]:
lista1 = [1, 2, 3, 4]
lista2 = [4, 3, 2, 1]
lista3 = [1, 2, 3, 4]
print(lista1)
print(lista2)

In [ ]:
lista1 == lista3

In [ ]:
['um', 'dois', None, 4]

In [ ]:
l = [0, 1]
[l, 'dois', 'três', [4, 5, l], 'seis']

In [ ]:
l = []
l

In [ ]:
lista = [2, 'a', 5.44, True, None, 'casa'] 
#Acesso por indices
print(lista[0])
print(lista[3])
print(lista[-1])

In [ ]:
#acesso por slices
print(lista[1:4])
print(lista[-2:])
print(lista[:])

In [ ]:
#cria uma lista para armazenar 3 idades
idades = [27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18]

maior_idade = idades[0]
for idade in idades:
  if idade > maior_idade:
    maior_idade = idade

print('A maior idade é de:', maior_idade)

In [ ]:
lista.remove(999)
print(lista)

In [ ]:
lista.append(None)
lista.append(21/2)

In [ ]:
lista.append(2 == 5/2)
print(lista)

#Tuplas

In [ ]:
#O tipo lista usamos [ ] e no tipo tupla usamos ( )

#Tipo tupla
tupla = (1, 2, 3, 4)
print(tupla)

In [ ]:
t1 = (30, 10, 20)
t2 = (2, 'a', 5.44, True)
#Operações de concatenação (+), repetição (*) e filiação (in)
print(t1 + t2)
print(t1 * 3)
print(10 in t1)

In [ ]:
#Funções uteis
print(len(t2)) #len: retorna a quantidade de elementos do tupla

#só pode ser utilizados em tuplas de tipos numéricos
print(min(t1)) #min: retorna o menor valor da tupla
print(max(t1)) #max: retorna o maior valr da tupla
print(sum(t1)) #sum: faz a soma de todos os valores da tupla

In [ ]:
#métodos que retorna valores
print(t1.index(20)) #index: retorna o indice da primeira ocorrência do elemento.
print(t2.count('a')) #count: conta as ocorrências do elemento.

2
1

In [ ]:
#Tuplas são imutaveis, e por isso os seus valores não podem ser alterdados(Não pode ser removidos, adicionados ou atualizados.)
#Tuplas são mais rápidas que as listas
#Tuplas são mais seguras
#Tuplas podem ser usadas como chaves de dicionários.

#Criação de conjuntos

In [ ]:
#TIPOS DE CONJUNTOS

# União - junta todos os dados A + B  | Interseção - dados e questão em A e B| Diferença - Os dados que estão em A e não estão em B

In [ ]:
c = {4, 0, 3, 1}
print(c)

{0, 1, 3, 4}

In [ ]:
#criação de conjunto homogêneo
c1 = {3, 0, 1, 4, 3, 3, 3, 3}
print(c1)

{0, 1, 3, 4}

In [ ]:
c2 = {2, 1, 4, 3, 0}
print(c2)

{0, 1, 2, 3, 4}

In [ ]:
c3 = {2, 'a', 5.44, True, None}
print(c3)

{None, True, 2, 5.44, 'a'}

# Operações com conjuntos

In [ ]:
#Criação de conjuntos A e B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print('A =>', A)
print('B =>', B)

A => {1, 2, 3, 4, 5}
B => {4, 5, 6, 7, 8}

In [ ]:
#Operação de união: (A U B)
print('A | B =>', A | B)
print('A.union(B) =>', A.union(B))

A | B => {1, 2, 3, 4, 5, 6, 7, 8}
A.union(B) => {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#Operação de interseção: (A ∩ B)
print('A & B =>', A & B)
print('A.intersection(B) =>', A.intersection(B))

A & B => {4, 5}
A.intersection(B) => {4, 5}

In [ ]:
#Opreação de diferença:  (A - B) e (B - A)
print('A - B =>', A -B)
print('A.difference(B) =>', A.difference(B))
print('')
print('B - A =>', B -A)
print('B.difference(A) =>', B.difference(A))

A - B => {1, 2, 3}
A.difference(B) => {1, 2, 3}

B - A => {8, 6, 7}
B.difference(A) => {8, 6, 7}

#Métodos e funções de conjuntos

In [ ]:
#Criação dos conjuntos c1, c2 e c3
c1 = {1, 2, 3, 4, 5}
c2 = {4, 5}
c3 = {91, 92, 93}

In [ ]:
#Adicona um elemento ao conjunto
c1.add(6)
print(c1)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Adiciona elementos a uma sequência interável || Adiciona apenas o que é novo
c1.update([2, 4, 6, 8])
print(c1)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
#Remove
c1.remove(5)
print(c1)

{1, 2, 3, 4, 6}

In [ ]:
#Descarta um elemento do conjunto
c1.discard(8)
print(c1)

{1, 2, 3, 4, 6}

In [ ]:
#Diferentemente do set.remove(), o discard não gera erro se o elemento a ser removido não existir
c1.discard(99)
print(c1)

{1, 2, 3, 4, 6}

In [ ]:
#Verifica se os conjuntos são disjuntos, ou seja se não possuem NENHUM elemento em comum
print(c1.isdisjoint(c2))
print(c1.isdisjoint(c3))

False
True

In [ ]:
#Verifica se o conjunto é subconjunto de outro
print(c1.issubset(c2))
print(c1.issubset(c3))

False
False

In [ ]:
#Verifica se o conjunto contém outro conjunto(superset)
print(c1.issuperset(c2))
print(c2.issuperset(c1))

True
False

#Exemplos práticos com conjuntos

In [ ]:
#Resolução do problema 1 com listas
#RESTULTADO TERÁ ALUNOS REPETIDOS

#Criação das listas de alunos das turmas
ING = ['Gabriel', 'Caio', 'Maria', 'Ana', 'Juliano', 'Flávia', 'Rubens', 'Bruna']
ESP = ['Caio', 'Artur', 'Beatriz', 'Carolina', 'Maria', 'Juliano', 'Bruna', 'Rui']
FRA = ['Pedro', 'Bruna', 'Paula', 'Tiago', 'Maria', 'Flávia', 'Rui', 'Carolina']

#Concatenação de todas as listas de alunos
TODOS = ING + ESP + FRA

#Ordenação para melhor viualização
TODOS.sort()

#Exibição do resultado
print('Relação de todos os alunos da escola')
print(TODOS)

Relação de todos os alunos da escola
['Ana', 'Artur', 'Beatriz', 'Bruna', 'Bruna', 'Bruna', 'Caio', 'Caio', 'Carolina', 'Carolina', 'Flávia', 'Flávia', 'Gabriel', 'Juliano', 'Juliano', 'Maria', 'Maria', 'Maria', 'Paula', 'Pedro', 'Rubens', 'Rui', 'Rui', 'Tiago']

In [ ]:
#Resolução do problema 1 com conjuntos
#RESTULTADO TERÁ ALUNOS REPETIDOS

#Criação das listas de alunos das turmas
ING = {'Gabriel', 'Caio', 'Maria', 'Ana', 'Juliano', 'Flávia', 'Rubens', 'Bruna'}
ESP = {'Caio', 'Artur', 'Beatriz', 'Carolina', 'Maria', 'Juliano', 'Bruna', 'Rui'}
FRA = {'Pedro', 'Bruna', 'Paula', 'Tiago', 'Maria', 'Flávia', 'Rui', 'Carolina'}

#Concatenação de todas as listas de alunos
TODOS = ING | ESP | FRA

#Exibição do resultado
print('Relação de todos os alunos da escola')
print(TODOS)

Relação de todos os alunos da escola
{'Gabriel', 'Rui', 'Tiago', 'Rubens', 'Artur', 'Caio', 'Flávia', 'Ana', 'Carolina', 'Pedro', 'Beatriz', 'Paula', 'Maria', 'Bruna', 'Juliano'}

In [ ]:
#Resolução do problema 2 com conjuntos
ING = {'Gabriel', 'Caio', 'Maria', 'Ana', 'Juliano', 'Flávia', 'Rubens', 'Bruna'}
ESP = {'Caio', 'Artur', 'Beatriz', 'Carolina', 'Maria', 'Juliano', 'Bruna', 'Rui'}
FRA = {'Pedro', 'Bruna', 'Paula', 'Tiago', 'Maria', 'Flávia', 'Rui', 'Carolina'}

# 1 - Interseção entre os pares de turmas: (ING & ESP), (ING & FRA) e  (ESP & FRA)
# 2 - Calcula a união das interseções

ALUNOS_DESCONTOS = (ING & ESP) | (ING & FRA) | (ESP & FRA) 
#Exibição do resultado
print('Relaçaõ dos alunos com descontos:')
print(ALUNOS_DESCONTOS)

Relaçaõ dos alunos com descontos:
{'Carolina', 'Rui', 'Juliano', 'Maria', 'Bruna', 'Caio', 'Flávia'}

In [ ]:
ING & ESP

{'Bruna', 'Caio', 'Juliano', 'Maria'}

In [ ]:
ING & FRA

{'Bruna', 'Flávia', 'Maria'}

In [ ]:
ESP & FRA

{'Bruna', 'Carolina', 'Maria', 'Rui'}

#Dicionário (dict)

In [ ]:
#Cada item é composto por uma chave e um valor

#Dicionario onde as chaves são do tipo string
d1 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
print(d1)

In [ ]:
#Dicionário onde as chaves são do tipo inteiro
d2 = {2:'dois', 1:'um', 4:'quatro', 3:'três', 0:'zero'}
print(d2)

In [ ]:
#Dicionário com as chaves e valores de tipos mistos
d3 = {2:'a', 5.44:True, 'Key':None}
print(d3)

In [ ]:
#Dicionário vazio
d4 = {}
print(d4)

In [ ]:
#Criação de dicionários
d1 = {2:'dois', 1:'um', 4:'quatro', 3:'três', 0:'zero'}
d2 = {'nome': 'Matheus', 'idade': 24, 'sexo': 'masculino'}

#Acessando elementos
#Os acessos são feitos através da chave

print(d1[0])
print(d1[2])
print('\nMeu nome é', d2['nome'], 'e tenho', d2['idade'], 'anos.')

zero
dois
Meu nome é Matheus e tenho 24 anos.

#Operações com dicionários

In [ ]:
#Atualização de valor com a chave nome
d1['nome'] = 'Matheus Ritchielle'
print(d1)

{2: 'dois', 1: 'um', 4: 'quatro', 3: 'três', 0: 'zero', 'nome': 'Matheus Ritchielle'}

In [ ]:
#Adição da chave endereço
d1['endereço'] = 'Rua acre'
print(d1)

{2: 'dois', 1: 'um', 4: 'quatro', 3: 'três', 0: 'zero', 'nome': 'Matheus Ritchielle', 'endereço': 'Rua acre'}

In [ ]:
#Cria o dicionário
d1 = {'zero': 0, 'um': 1, 'dois': 2, 'tres': 3, 'quatro': 4}
print(d1)

{'zero': 0, 'um': 1, 'dois': 2, 'tres': 3, 'quatro': 4}

In [ ]:
#Encontra a menor a e maior chave
print(f'Maior chave {max(d1)} e a menor chave {min(d1)}')

Maior chave zero e a menor chave dois

In [ ]:
#Adiciona elementos a um outro dicionário
d1.update({'cinco': 5, 'seis': 6})
print(d1)

{'zero': 0, 'um': 1, 'dois': 2, 'tres': 3, 'quatro': 4, 'cinco': 5, 'seis': 6}

In [ ]:
#Verifica se o dicionario possui as seguintes chaves:
print("A chave 'dois' está no dicionário?", 'dois' in d1)
print("A chave 'cinco' está no dicionário?", 'cinco' in d1)

A chave 'dois' está no dicionário? True
A chave 'cinco' está no dicionário? True

In [ ]:
#Removo o elemento com a chave 'zero'
d1.pop('seis')
print(d1)

{'um': 1, 'dois': 2, 'tres': 3, 'quatro': 4, 'cinco': 5}

#Interação sobre os dicionários

In [ ]:
#Cria o dicionario
d1 = {'zero': 0, 'um':1, 'dois': 2, 'três': 3, 'quatro': 4, 'dez': 10}

#Intera sobre as chaves
for key in d1:
  if key == 'três':
    print('Foi encontrada a chave', key)
    break

for key in d1.keys():
  if key == 'dez':
    print('Foi encontrada a chave', key)
    break

Foi encontrada a chave três
Foi encontrada a chave dez

In [ ]:
#Intera sobre os valores
soma = 0
for value in d1.values():
  soma = soma + value

print(soma)

20

In [ ]:
#Intera sobre os itens
for key, value in d1.items():
  print(key, value)

zero 0
um 1
dois 2
três 3
quatro 4
dez 10

In [ ]:
#Valor máximo
print(max(list(d1.values())))

10

In [ ]:
dic = {}
dic['chave'] = 99
dic

{'chave': 99}