<a href="https://colab.research.google.com/github/MatheusRitchielle/fundamentos-python/blob/main/funcoes_em_pyhon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declarando funções

In [ ]:
 #Primeiro vamos resolver um problema sem utilização de funções, repetindo código

 #Define as listas com os números a serem somados
 l1 = [1, 2, 3, 4, 5]
 l2 = [3, 1, 5, 9, 0, 8, 2, 3, 4]
 l3 = [12, 43, 23, 12, 789]

 #itera sobre cada lista e soma seus elementos
 soma_l1 = 0
 for item in l1:
   soma_l1 = soma_l1 + item

soma_l2 = 0
for item in l2:
  soma_l2 = soma_l2 + item

soma_l3 = 0
for item in l3:
  soma_l3 = soma_l3 + item

print(f'A soma de L1 é:{soma_l1}.\nA soma de L2 é:{soma_l2}.\nA soma de L3 é:{soma_l3}.')

In [13]:
#Vamos criar uma função que realiza a soma dos itens de uma lista

def soma_lista(lista):
  soma = 0
  for item in lista:
    soma = soma + item
  return soma

In [ ]:
#chama a função para cada lista
soma_l1 =  soma_lista(l1)
soma_l2 =  soma_lista(l2)
soma_l3 =  soma_lista(l3)

print(f'l1 = {soma_l1}, l2 = {soma_l2} e l3 = {soma_l3}')

In [17]:
def mult_lista(lista):
  result = 1
  for item in lista:
    result = result * item
  return result

In [ ]:
mult_l1 = mult_lista(l1)
mult_l2 = mult_lista(l2)
mult_l3 = mult_lista(l3)

print(f'A multiplicação de l1 = {mult_l1}.\nA multiplicação de l2 = {mult_l2}.\nA multiplicação de l3 = {mult_l3}')

#Utilizando funções

In [29]:
#Exibe mensagem de boas vindas
def boas_vindas(nome):
  print(f'Olá {nome}. Seja bem-vindo(a)!')

#Calcula a área de um quadrado: lado x lado

def area_quadrado(lado):
  return lado * lado

#Calcula a area de um triângulo: (base x altura) / 2
def area_triangulo(base, altura):
  return (base * altura)/2

In [ ]:
#Realiza a chamada das funções:
boas_vindas('Matheus')
print(area_triangulo(4, 5))

boas_vindas('Maria')
boas_vindas('Joana')

print(area_quadrado(4))
print(area_quadrado(10))

boas_vindas('Antônio')
print(area_quadrado(10))

print(area_triangulo(5, 2))
print(area_triangulo(4, 5))

In [34]:
#Retorna uma divisão. Se o divisor é zero, retorna uma mensagem de erro.
def div(dividendo, divisor):
  if divisor == 0:
    print('ERRO: Divisor iqual a zero!')
    return
  return dividendo / divisor

#Função similar a função div, mas que retorna o dividento e o resto da divisão
def div_qr(dividendo, divisor):
  if divisor == 0:
    print('ERRO: Divisor iqual a zero!')
    return
  quociente = dividendo // divisor
  resto = dividendo % divisor
  return (quociente, resto)

In [36]:
print('div(10, 4) ==>', div(10, 4))
print('div_qr(10, 4) ==>', div_qr(10, 4))
print('div(10, 0) ==>', div(10, 0))

div(10, 4) ==> 2.5
div_qr(10, 4) ==> (2, 2)
ERRO: Divisor iqual a zero!
div(10, 0) ==> None

In [37]:
#atribuição dos multiplos valores em uma variavel única do tipo tupla
resultado = div_qr(21, 5)
print('resultado', resultado, type(resultado))

#atribuição de multiplos valores em variáveis separadas
quociente, resto = div_qr(21, 5)
print('quociente:', quociente, type(quociente))
print('resto:', resto, type(resto))

resultado (4, 1) <class 'tuple'>
quociente: 4 <class 'int'>
resto: 1 <class 'int'>

In [48]:
#Reaproveitando um pouco mais de código

#Verifica se é um divisor inválido: (divisor == 0)
def divisor_invalido(divisor):
  if divisor == 0:
    print('ERRO: Divisor igual a zero!')
    return True
  return False

#Retorna o resultado de uma divisao
def div(dividendo, divisor):
  if divisor_invalido(divisor):
    return
  return dividendo / divisor

#Retorna o quociente e o resto da divisão 
def div_qr(dividendo, divisor):
  if divisor_invalido(divisor):
    return
  quociente = dividendo // divisor
  resto = dividendo % divisor
  return(quociente,resto)

In [49]:
div(10,2)

5.0

#Argumentos das funções

In [50]:
#Calcula a area de um triângulo: (base x altura)/2

def area_triangulo(base, altura):
  return (base * altura)/2

print(area_triangulo(5,10))

25.0

In [51]:
print(area_triangulo(altura=10, base=5 ))

25.0

In [54]:
print(area_triangulo(5,3))

7.5

In [53]:
#argumento padrão (default)
def exibe_pessoa(nome, idade=24):
  print(f'Meu nome é {nome} e tenho {idade} anos')

exibe_pessoa('Matheus')
exibe_pessoa('Matheus', 36)

Meu nome é Matheus e tenho 24 anos
Meu nome é Matheus e tenho 36 anos