<a href="https://colab.research.google.com/github/MatheusRitchielle/fundamentos-python/blob/main/recursos_uteis_da_linguagem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Compreensão de listas

In [1]:
# Cria uma lista com números de 1 a 10 elevados à 2
potencias = []
for item in range(1, 11):
  potencias.append(item ** 2)
print(potencias)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Podemos reescreve a mesma operação de outra forma, utilizando list comprehension
potencias = [item ** 2 for item in range(1, 11)]
print(potencias)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# Multiplica por 10 is números de 1 a 15
[n * 10 for n in range(1, 16)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [4]:
#Cria uma lista com os caractéres em maiúsculo
[c.upper() for c in 'matheus']

['M', 'A', 'T', 'H', 'E', 'U', 'S']

In [6]:
# indica se n é par ou não
[(n % 2 == 0) for n in range(0,10)]

[True, False, True, False, True, False, True, False, True, False]

In [7]:
# Criar uma lista de com os números  ÍMPARES de 1 a 10 elevados a 2
potencias = []
for item in range(1,10):
  if item % 2 != 0:
    potencias.append(item ** 2)
print(potencias)

[1, 9, 25, 49, 81]

In [10]:
# Também podemso reescrever utilizando list comprehension com verificação condicional
potencias = [item ** 2 for item in range(1,11) if item % 2 !=0 ]
print(potencias)

[1, 9, 25, 49, 81]

#Compreensão de dicionários

In [11]:
#Todos os números elevados à potência 2
dict_todos = {}
for item in range(1,11):
  dict_todos[item] = item ** 2
print('Todos os números:', dict_todos)

Todos os números: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
# Podemos reescrever a mesma operação de outra forma, ultilizando o dict comprehension
dict_todos = {item: item ** 2 for item in range(1,11)}
print('Todos os números:', dict_todos)

Todos os números: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [13]:
# Apenas os ímpares elevado à potência 2
dict_impares = {}
for item in range(1,11):
  if item % 2 !=0:
    dict_impares[item] = item ** 2
print('Números ímpares:', dict_impares)

Números ímpares: {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [15]:
# Também podemos reescrever ultilizando o dict comprehension com verificação condicional
dict_impares = {item: item ** 2 for item in range(1,11) if item % 2 != 0}
print('Números ímpares:', dict_impares)

Números ímpares: {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

#Funções anônimas

In [16]:
# Declaração de função explicita (declaração tradicional)
def area_quadrado(lado):
  return lado * lado

In [17]:
area_quadrado(5)

25

In [18]:
#Declaração da função lambda
area_quad = lambda lado: lado * lado

#Utilização
area_quad(4)

16

In [22]:
area_triangulo = lambda base, altura: (base * altura)/2
area_triangulo(10,20)

100.0

In [20]:
#Verificação do tupo da variável
type(area_quad)

function

In [23]:
#Função que calculo o tripo de número
triplo = lambda x: x * 3

In [24]:
#Calcula o tripo dos números de uma lista
lista = [4, 5, 9, 7, 0, 8]
list(map(triplo, lista))

[12, 15, 27, 21, 0, 24]

In [26]:
# Podemos fazer de um jeito mai Pythonico ainda!
list(map(lambda x: x ** 3, [4, 5, 9, 7, 0, 8]))

[64, 125, 729, 343, 0, 512]

#Atribuição condicional

In [27]:
# Sintaxe : valor_se_verdadeiro if condicao else valor_se_falso
nome = 'Matheus'
if len(nome) > 5: 
  var = 100
else:
  var = 0
print('O valor de var é:', var)

O valor de var é: 100

In [28]:
nome = 'Matheus'
var = 100 if len(nome) > 5 else 0
print('O valor de var é:', var)

O valor de var é: 100